{% extends 'base.html' %}

{% block content %}
<section class="skills">
    <h1>Skills</h1>
    <div class="skill-section">
        <h2><i class="fas fa-code"></i> Programming Languages</h2>
        <ul>
            <li>Python</li>
            <li>C</li>
            <li>JavaScript</li>
        </ul>
    </div>
    <div class="skill-section">
        <h2><i class="fas fa-tools"></i> Developer Tools</h2>
        <ul>
            <li>VS Code</li>
            <li>GitHub</li>
        </ul>
    </div>
    <div class="skill-section">
        <h2><i class="fas fa-project-diagram"></i> Python Frameworks</h2>
        <ul>
            <li>Django</li>
            <li>Flask</li>
            <li>Django REST Framework</li>
        </ul>
    </div>
    <div class="skill-section">
        <h2><i class="fas fa-globe"></i> Web Technologies</h2>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
        </ul>
    </div>
    <div class="skill-section">
        <h2><i class="fas fa-database"></i> Database Management</h2>
        <ul>
            <li>MongoDB</li>
            <li>PostgreSQL</li>
            <li>MySQL</li>
        </ul>
    </div>
    <div class="skill-section">
        <h2><i class="fas fa-search"></i> Web Scraping</h2>
        <ul>
            <li>Beautiful Soup</li>
        </ul>
    </div>
    <div class="skill-section">
        <h2><i class="fas fa-user"></i> Soft Skills</h2>
        <ul>
            <li>Strong communication and collaboration abilities</li>
            <li>Problem-solving and logical thinking</li>
        </ul>
    </div>
</section>
{% endblock %}
